html, body {
    margin: 0px;
    padding: 0px;
        box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url(./images/BACKGROUND\ FOR\ CARS.jpg);
    background-size: cover;
    color: #444;
    width: 100%;
}

header{
    height: auto;
    background-color: rgba(128, 128, 128, 0.815);
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    /* padding: 20px; */
}
.header h1{
    margin: 0;
    color: #c02d2d;
    font-size: 10px;
} 
.header a{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    font-family:  serif;
    text-decoration: line-through;
}
.header p{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
}

nav{
    background-color: #c02d2d;
    height: 100px;
    padding: 10px ;
    box-sizing: border-box;
    /* filter: blur(10px); */
}
 
main{
    /* background-color: #e21a1a; */
     background-color: #f470237c; 
     backdrop-filter: blur(20px);
     border: 20px solid rgba(255, 255, 255, 0.1);
     /* width: 95%; */
     margin: 10px auto;
     margin-top: 100px;
   
    
}

.lambo{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 100px;

}
.lambo img{
     height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-left: 100px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 500px;
    border-top-left-radius: 100px;
    margin-bottom: 150px;

}
.lambo h1{
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    font-family:  Inter;    
}

/* bugatti */
.bugatti{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 500px;
}

.bugatti img{
   height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-right: 100px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 500px;
    border-top-left-radius: 100px;
    margin-bottom: 150px;
    border: 20px solid blue;

}
.bugatti h1{
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    font-family:  Inter;    
}



/* ferrari */
.ferrari{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 100px;
}
.ferrari img{
     height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-left: 100px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 500px;
    border-top-left-radius: 100px;
    margin-bottom: 150px;
    border: 20px solid brown;
}
.ferrari h1{
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    font-family:  Inter;    
}

/* PORSCHE */
.porsche{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 100px;
}
.porsche img{
    height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-left: 100px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 500px;
    border-top-left-radius: 100px;
    border: 20px solid gold;
    margin-bottom: 150px;
}
 /* h1{
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
    font-family:  Inter;    
} */

footer{
    background-color: BLACK;
    height: 300px;
    padding: 10px ;
    box-sizing: border-box;
}
/* p{
    color: #FFFFFF;
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
} */